<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles.css">
    <title>Weather</title>
</head>

<body>
    <div class="container">
        <div class="location">
            <form action="/" method="post">
                <div class="loc-info">
                    <input type="text" name="City" placeholder="Search">
                    <button class="btn"></button>
                </div>
            </form>
        </div>
        <div class="city">
            <p>
                <%=city%>
            </p>
            <h2>
                <%=temp%>°C
            </h2>
        </div>
        <div class="weather-container">
            <div class="info">
                <li>Humidity</li>
                <li><%=humidity%></li>
            </div>
            <div class="info">
                <li>Wind</li>
                <li><%=wind%></li>
            </div>
            <div class="info">
                <li>Visibility</li>
                <li><%=visibility%></li>
            </div>
        </div>
    </div>

</body>

</html>